<ion-content>
<ion-header no-border>
    <ion-toolbar class="bar-subheader bar-stable" height="200px">
        <img class="background-img" src="https://images.unsplash.com/photo-1442483221814-59f7d8b22739?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" height="100%">

        <div class="location-text">
            <ion-icon name="pin"></ion-icon>
            <br/>
            {{user_info?.district}}
            <br/>
            {{user_info?.city}}
        </div>
        <div class="color-overlay"></div>
    </ion-toolbar>
</ion-header>

    <ion-grid>
        <ion-row>
            <ion-col button
             [routerLink]="['/', 'landing', item.id]"
             size="12"
             size-xs="12"
             size-sm="6"
             size-md="4"
             size-lg="3"
             *ngFor="let item of (results)">
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle>{{item.category.title}}</ion-card-subtitle>
                        <ion-card-title>{{item.title}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <div [innerHTML]="item.vicinity"></div>
                    </ion-card-content>
                    <ion-item>
                        <ion-icon fill="outline" slot="end">View</ion-icon>
                    </ion-item>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

  <ion-infinite-scroll threshold="30%" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
        loadingSpinner="dots"
        loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
