<ion-content [style.background-image]="'url(' + image_url + ')'" style="z-index: 1;">
<ion-header no-border class="banner"
            [style.background-image]="'url(' + image_url + ')'">

<!-- Header Image / Info Buttons-->
    <ion-toolbar transparent>
        <ion-button slot="end" color="light" fill="clear" (click)="toggle_search()">
            <ion-icon slot="icon-only" name="pin" *ngIf="!toggled"></ion-icon>
        </ion-button>
        <ion-button slot="end" color="light" fill="clear" [routerLink]="['/', 'interest']">
            <ion-icon slot="icon-only" name="person"></ion-icon>
        </ion-button>
    </ion-toolbar>

    <div class="location-text">
        <br />
        {{user_info?.district}}
        <br />
        {{user_info?.city || user_info?.stateCode || user_info?.country}}
    </div>
</ion-header>

<!-- Custom Refresher Content -->
<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" [disabled]="false" pullFactor=".5" pull-min="40" pull-max="150">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Refresh Location"
            refreshingSpinner="circles"
            refreshingText="Getting Location...">
    </ion-refresher-content>
</ion-refresher>

<!--TODO Photographer Credit-->
<!--    <span class="photo-credit"><ion-label>{{photographer}}</ion-label></span>-->

<!--Location Search -->
<ion-searchbar
        *ngIf="search_toggled"
        placeholder="View Location"
        searchIcon="pin"
        [(ngModel)]="someValue"
        (ionInput)="locationSearch($event)"
        [showCancelButton]="false">
</ion-searchbar>

<!--Chips-->
    <div scrollx="true" class="chip-container">
        <ion-chip class="choice-chip" *ngFor="let item of (chips)">
            <ion-icon [name]="item[1]" color="primary"></ion-icon>
            <ion-label>{{item[0]}}</ion-label>
            <ion-icon name="close"></ion-icon>
        </ion-chip>
    </div>

<!--List Items-->
    <ion-grid>
        <ion-row>
            <ion-col button
             [routerLink]="['/', 'landing', item.id]"
             size="12"
             size-xs="12"
             size-sm="6"
             size-md="4"
             size-lg="3"
             *ngFor="let item of (results)">
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle>{{item.category.title}}</ion-card-subtitle>
                        <ion-card-title>{{item.title}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <div [innerHTML]="item.vicinity"></div>
                    </ion-card-content>
                    <ion-item>
                        <ion-icon fill="outline" slot="end">View</ion-icon>
                    </ion-item>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

  <ion-infinite-scroll (ionInfinite)="loadData($event)" threshold="30%" >
    <ion-infinite-scroll-content
        loadingSpinner="dots"
        loadingText="Loading more places...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
