<ion-header>
  <ion-toolbar>
    <ion-title>Interests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12"
                     size-xs="12"
                     size-sm="6"
                     size-md="4"
                     size-lg="3"
                     *ngFor="let category of (categories)">
                <ion-card class="interest-card" [style.background-image]="'url(' + category.image + ')'">
                    <div class="overlay">
                        <ion-card-header>
                            <ion-card-title>{{category.title}}</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-segment color="light" (ionChange)="segmentChanged($event, category.id)">
                                <ion-segment-button value="yes" [id]="category.id" class="segment-button" [checked]="category.active">
                                    <ion-label>Yes</ion-label>
                                </ion-segment-button>
                                <ion-segment-button value="no" [id]="category.id" class="segment-button" [checked]="!category.active">
                                    <ion-label>No</ion-label>
                                </ion-segment-button>
                            </ion-segment>
                        </ion-card-content>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
