.interest-card {
  background-position: center;
  font-family: 'Nunito Sans', sans-serif;
}

.overlay {
  background-color: rgba(56, 59, 64, .6);
}

ion-card-title {
  color: #fff;
}

ion-card-subtitle {
  color: #fff;
}

ion-segment-button {
  color: #fff !important;
}