<ion-header>
  <ion-toolbar color="light">
    <ion-title>{{pageinfo?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="banner-map" [style.background-image]="'url(' + mapimageuri + ')'">
        <div class="fab-container">
            <ion-fab>
                <ion-fab-button color="primary" (click)="open_navigation(pageinfo.location.position)">
                    <ion-icon color="light" name="compass"></ion-icon>
                </ion-fab-button>
            </ion-fab>
        </div>
    </div>

    <div class="place-details">
        <ion-label class="place-details-heading">
            {{pageinfo?.name}}
        </ion-label>
        <ion-label *ngFor="let category of pageinfo?.categories">
            <p class="place-categories">{{category.title}}</p>
        </ion-label>

        <ion-list>
            <ion-item-sliding>
                <ion-item>
                    <ion-label class="info-list-item" [innerHTML]="pageinfo?.location?.address?.text"></ion-label>
                </ion-item>
                <ion-item-options side="end">
                    <ion-item-option (click)="open_navigation(pageinfo.location.position)"><ion-icon name="compass"></ion-icon></ion-item-option>
                </ion-item-options>
            </ion-item-sliding>

            <span *ngIf="pageinfo?.contacts?.hasOwnProperty('phone')">
                <ion-item-sliding *ngFor="let item of pageinfo?.contacts?.phone">
                    <ion-item>
                        <ion-label class="info-list-item">{{item.value}}</ion-label>
                    </ion-item>
                    <ion-item-options side="end">
                        <ion-item-option (click)="open_link(item.value, item.label)">
                            <ion-icon name="call"></ion-icon>
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>
            </span>

            <span *ngIf="pageinfo?.contacts?.hasOwnProperty('website')">
                <ion-item-sliding *ngFor="let item of pageinfo?.contacts?.website">
                    <ion-item>
                        <ion-label class="info-list-item">{{item.value}}</ion-label>
                    </ion-item>
                    <ion-item-options side="end">
                        <ion-item-option (click)="open_link(item.value, item.label)">
                            <ion-icon name="globe"></ion-icon>
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>
            </span>

            <span *ngIf="pageinfo?.contacts?.hasOwnProperty('email')">
                <ion-item-sliding *ngFor="let item of pageinfo?.contacts?.website">
                    <ion-item>
                        <ion-label class="info-list-item">{{item.value}}</ion-label>
                    </ion-item>
                    <ion-item-options side="end">
                        <ion-item-option (click)="open_link(item.value, item.label)">
                            <ion-icon name="mail"></ion-icon>
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>
            </span>

            <span *ngIf="hours.available">
                <ion-item>
                    <ion-label class="hours" [color]="hours.color" [innerHTML]="hours.text"></ion-label>
                </ion-item>
            </span>

        </ion-list>
    </div>

<!--    Only if Category is Public Transit-->
    <div class="place-details" *ngIf="pageinfo?.categories[0].id == 'public-transport' && pageinfo?.extended?.transitLines">
        <ion-label class="place-details-heading" *ngIf="schedule">
            Departing Soon
        </ion-label>

        <span *ngIf="schedule">
            <ion-list *ngFor="let line of transit_departures">
                <ion-item>
                        <ion-chip outline color="primary" slot="start">
                            <ion-label>{{line.line}}</ion-label>
                        </ion-chip>
                    <ion-label>
                        <p class="info-list-item">{{line.direction}}</p>
                        <p class="transit-departures">{{line.time}}</p>
                    </ion-label>
                </ion-item>
            </ion-list>
        </span>

        <ion-label class="place-details-heading">
            Transit Options
        </ion-label>

        <ion-list *ngFor="let line of (pageinfo?.extended?.transitLines?.destinations)">
            <span>
                <ion-item>
                        <ion-chip outline color="primary" slot="start">
                            <ion-label>{{line.line}}</ion-label>
                        </ion-chip>
                    <ion-label class="info-list-item">
                        <span class="transit-direction">{{line.destination}}</span>
                    </ion-label>
                </ion-item>
            </span>
        </ion-list>
    </div>



    <br />
    <div class="recommended-nearby">
        <ion-label class="place-details-heading">
            Recommended Nearby
        </ion-label>

        <ion-list *ngFor="let item of recommended">

            <ion-item-sliding>
                <ion-item>
                    <ion-label>
                        <p class="nearby-category">{{item.category.title}} | {{item.distance}} m</p>
                        <p class="info-list-item">{{item.title}}</p>
                    </ion-label>
                </ion-item>
                <ion-item-options side="end">
                    <ion-item-option [routerLink]="['/', 'place', item.id]">
                        <ion-icon name="search"></ion-icon>
                    </ion-item-option>
                    <ion-item-option (click)="open_navigation(item.position)">
                        <ion-icon name="compass"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>

        </ion-list>
    </div>

    <br />

    <div class="transit-nearby" *ngIf="transit?.length != 0">
        <ion-label class="place-details-heading">
            Transit Stops Nearby
        </ion-label>

        <ion-list *ngFor="let item of (transit)">
            <ion-item-sliding>
                <ion-item>
                    <ion-label>
                        <p class="nearby-category">{{item.distance}} m</p>
                        <p class="info-list-item">{{item.title}}</p>

                        <div class="transit-numbers">
                            <span *ngFor="let line of (item.transitLines.lines | keyvalue)">
                                <ion-chip outline color="dark">
                                    <ion-label [style.color]="line?.value?.style?.color">{{line.value.name}}</ion-label>
                                </ion-chip>
                            </span>
                        </div>
                    </ion-label>
                </ion-item>
                <ion-item-options side="end">
                    <ion-item-option [routerLink]="['/', 'place', item.id]">
                        <ion-icon name="search"></ion-icon>
                    </ion-item-option>
                    <ion-item-option (click)="open_navigation(item.position)">
                        <ion-icon name="compass"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>

        </ion-list>
    </div>


</ion-content>